.aboutme {
    display: flex; 
    justify-content: center;
    align-content: center;
    
}
.myname {
    display: flex; 
    justify-content: center;
    font-size: 50px; 
    /* font-family: Proxima;  */
    margin-top: 200px; 
    color: #122620;
    padding: 20px; 
}

.first {
    margin-right: 50px;
}

.links {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 20px; 
    font-size: 18px;
}

.links a {
    padding: 5px; 
    padding-right: 15px;
    text-decoration: none;
    color: #122620;
    font-family: Helvetica, sans-serif;
    opacity: 0.7;
    transition: color ease;
    cursor: pointer;
}

.links a:hover{
    background-color: #122620;
    color: #F4EBD0
}
